@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins";
}

nav {
  background-color: #24262b;
  padding: 1.2rem;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 500;
}

nav ul li a:hover,
nav ul li a.active {
  text-decoration: underline;
  color: #78c1f3;
}

#content {
  padding: 20px;
  text-align: center;
}

.textAlign {
  text-align: justify;
  padding: 1rem 5rem;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1.2rem;
  background: #24262b;
  color: white;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}
